# These are the parameters to connect to the SurrealDB instance.
#
DB_HOST=localhost
DB_PORT=8000
DB_USER=root
DB_PASSWORD=root
DB_NAMESPACE=temps
DB_NAME=temps

# This is the HMAC key that will be used to sign login tokens (JWTs).
# It just needs to be a random string, preferably at least 48 characters long to provide sufficient
# brute-force resistance.
#
# If you have OpenSSL installed, try `openssl rand -base64 48`
#
HMAC_KEY=PUuf3xV6IIjn1uaWtW9SdCMB2naN6BLDJSksMpbE2uBPPzIwBsMm7mK2eVx01C0m

# Configures which modules `env_logger` should emit logs for.
#
# This variable is read by `env_logger`, not the application itself, so it won't appear on the `Config` struct.
#
# The value here enables log messages from the backend application as well as log messages emitted for incoming
# requests.
#
# See: https://docs.rs/env_logger/0.9.0/env_logger/#enabling-logging
RUST_LOG=medoxido=debug,tower_http=debug

